@media (min-width: 1600px) {
  :root {
    font-size: 24px;
  }
  .header__heading {
    font-size: 64px;
    margin: 84px 0 15px;
  }
  .header__paragraph {
    font-size: 40px;
    line-height: 40px;
  }
  .header__paragraph:first-of-type {
    margin: 10px 0 0;
  }
  .container__paragraph {
    width: 702px;
    height: 50px;
  }
  .f-s-20 {
    font-size: 40px;
  }
  .f-s-14 {
    font-size: 26px;
  }
  .container {
    width: 775px;
    height: 690px;
  }
  .main {
    width: 1580px;
    height: 790px;
  }
  .input__container {
    width: 700px;
    height: 60px;
  }
  .input {
    height: 60px;
  }
  .input--text,
  .input__wrapper--text {
    width: 386px;
  }
  .input__wrapper--edit-text {
    width: 350px;
  }
  .input--amount,
  .input__wrapper--amount {
    width: 140px;
  }
  .input__wrapper--edit-amount {
    width: 130px;
  }
  .input__button {
    width: 140px;
    height: 60px;
    font-size: 24px;
  }
  .input::placeholder {
    font-size: 24px;
  }
  .input--edit {
    height: 50px;
  }
  .error {
    outline: 2px solid var(--error);
  }
  .list__container {
    width: 700px;
    height: 500px;
  }
  .list__element {
    width: 703px;
    height: 60px;
    margin: 16px 0 0;
  }
  .list__paragraph {
    width: 500px;
    margin: 0 30px;
  }
  .list__button_container {
    width: 140px;
  }
  .list__button {
    width: 43px;
  }
}
