@media (min-width: 1024px) {
  .f--row {
    flex-direction: row;
  }
  .m--top {
    margin-top: 0;
  }
  .header__heading {
    font-size: 48px;
    padding: 5px;
    margin: 30px 0 15px;
  }
  .header__paragraph {
    height: 38px;
    font-size: 32px;
    padding: 5px;
    margin: 10px 0 40px;
    line-height: 32px;
    text-align: center;
  }
  .header__paragraph:first-of-type {
    margin: 10px 0 20px;
  }
  .container__paragraph {
    width: 702px;
    height: 50px;
    align-self: flex-end;
  }
  .f-s-20 {
    font-size: 32px;
  }
  .f-s-14 {
    font-size: 18px;
  }
  .container {
    width: 500px;
    height: 480px;
    border-radius: 5px;
  }
  .main {
    width: 1024px;
    height: 550px;
    align-self: center;
  }
  .income__container {
    border: 2px solid var(--income-primary);
  }
  .expense__container {
    border: 2px solid var(--expense-primary);
  }
  .input__container {
    width: 432px;
    height: 35px;
    margin: 27px 0 15px;
  }
  .input {
    height: 35px;
    border-radius: 2px;
  }
  .input--income:focus {
    outline: 2px solid var(--income-primary);
  }
  .input--expense:focus {
    outline: 2px solid var(--expense-primary);
  }
  .input--text,
  .input__wrapper--text {
    width: 250px;
  }
  .input__wrapper--edit-text{
    width: 200px;
  }
  .input--edit {
    height: 30px;
  }
  .input--amount,
  .input__wrapper--amount{
    width: 80px;
  }
  .input__wrapper--edit-amount {
    width: 80px;
  }
  .input__button {
    width: 80px;
    height: 37px;
    border-radius: 2px;
    font-size: 18px;
  }
  .input::placeholder {
    font-size: 18px;
  }
  .error_label {
    width: 150px;
    font-size: 14px;
    transform: translate(0, -14px);
  }
  .container__paragraph {
    width: 450px;
    height: 34px;
    align-self: flex-end;
  }
  .list__container {
    width: 432px;
    height: 360px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .list__container::-webkit-scrollbar {
    display: none;
  }
  .list__element {
    width: 432px;
    height: 35px;
    border-radius: 2px;
    margin: 12px 0 0;
  }
  .list__paragraph {
    width: 310px;
    margin: 0 20px;
  }
  .list__button_container {
    width: 80px;
    height: 35px;
  }
  .list__button {
    width: 25px;
    margin: 0 5px;
  }
}
