:root {
  --light: #f8f7ffff;
  --dark: #023047;
  --income-primary: #219EBC;
  --income-secondary: #8ECAE6;
  --outcome-primary: #FB8500;
  --outcome-secondary: #FFB703;
  font-size: 2vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Sofia Sans Semi Condensed';
  font-weight: 400;
}
.flex {
    display: flex;
}
.a-i--center {
    align-items: center;
}
.j-c--center {
    justify-content: center;
}