:root {
  --light: #f8f7ffff;
  --dark: #023047;
  --income-primary: #219ebc;
  --income-secondary: #8ecae6;
  --income-secondary-transparent: #8ecae620;
  --outcome-primary: #fb8500;
  --outcome-secondary: #ffb703;
  --outcome-secondary-transparent: #ffb70320;
  font-size: 1vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-variant: small-caps;
}

body {
  font-family: "Sofia Sans";
  font-weight: 400;
  background-color: var(--light);
}
.flex {
  display: flex;
}
.a-i--center {
  align-items: center;
}
.j-c--center {
  justify-content: center;
}
.j-c--between {
  justify-content: space-between;
}
.f--wrap {
  flex-wrap: wrap;
}
.f--column {
  flex-direction: column;
}
.main__header {
  font-size: 6.25rem;
  font-weight: 700;
  padding: 1vh;
  margin: 3.9vh 0 1.1vh 0;
  text-align: center;
}
.main__paragraph {
  width: 100%;
  display: block;
  font-size: 3.75rem;
  text-align: center;
  padding: 1vh;
  margin: 1.1vh 0 3.125vh 0;
  line-height: 2.5rem;
}
.main__paragraph:first-of-type{
    margin: 1.1vh 0 0;
}
.main__paragraph-span--income {
  background-image: linear-gradient(
    to bottom,
    var(--income-primary),
    var(--income-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main__paragraph-span--outcome {
  background-image: linear-gradient(
    to bottom,
    var(--outcome-primary),
    var(--outcome-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.income__container--paragraph {
  width: 84%;
  height: 4.5vh;
  color: var(--income-primary);
}
.f-s-20 {
  font-size: 3.125rem;
}
.f-s-14 {
  font-size: 2.1875rem;
}
.f-s-12 {
  font-size: 1.185rem;
}
.income__container {
  width: 92.43%;
  height: 30vh;
  background-color: var(--income-secondary-transparent);
  border: 0.15625vh solid var(--income-primary);
  border-radius: 0.78125vh;
}
.input__container {
  width: 84%;
  height: 4.375vh;
}
.input--text {
  width: 45.95%;
  height: 4.375vh;
  background-color: var(--light);
  color: var(--income-primary);
  border: none;
  border-radius: 0.3125vh;
  margin: 1.875vh 1.875vh 2.5vh 1.875vh;
}
.input--text:focus {
  outline: 0.15625vh solid var(--income-primary);
}
.input--text::placeholder {
  color: var(--income-primary);
  font-variant: small-caps;
}
